#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}
.about-wrapper {
  margin:0 10rem;
}
.header__wrapper {
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-main;
  font-weight: $font-black;
}
.header__wrapper h1 {
  margin-bottom: 0;
}
.header__wrapper span {
  float:left;
}
.main-nav {
  padding-top: 2rem;
  margin: 0 auto;
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.main-nav a {
  color: $color-white;
  font-size: 30px;
  text-decoration: none;
  font-family: $font-main;
  font-weight: $font-semibold;
}
.main-nav div {
  padding:0 1rem;
}
.header__wrapper {
  background-image: url(../images/assets/background.jpg);
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
}
.title {
  padding-top:20vh;
  margin: 0 auto;
  width: 50%;
}
.title .letters {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 5rem;
}
.letters-below {
  text-align: right;
  font-size: 2vw;
  letter-spacing: 0.5rem;
}
.page-background {
  background-color: $color-black;
}
.content-wrapper {
  text-transform: uppercase;
  color: $color-white;
  font-weight: $font-regular;
  position: relative;
}
.journey {
  position: absolute;
  top: 15rem;
  left: 30rem;
}
.journey h2 {
  font-size: 4rem;
}
#pages {
  margin-top: -20rem;
}
