/* Variables */

$color-red: #e74c3c;
$color-orange: #c24e00;
$color-white: #FFF;
$color-green: #2ecc71;
$color-black: #131313;

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-bold: 700;
$font-semibold: 600;
$font-black: 900;

